.Input-text {
    display: block;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: var(--inputFontSize);
    font-weight: inherit;
    line-height: var(--inputLineHeight);
    padding: 10px;
}
